<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="SignaturePadDemo.SignaturePadDemo" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk />
	<application android:label="SignaturePadDemo" android:icon="@drawable/logo_galaxy_black_64"></application>
</manifest>